/align/bag/
/datasets/
/onnx/
/pth/
/font/
command.txt

# output
/output/*
!/output/
!/output/compare_analysis.py

!/output/boxplot_upper_body.png
!/output/frameplot_1-3.png
!/output/histogram_1-3.png

!/output/compare/
/output/compare/line/*
!/output/compare/line/
/output/compare/radar/*
!/output/compare/radar/
!/output/compare/line/Line_example.png
!/output/compare/radar/Radar_example.png